.App {
    width: 100%;
}

button {
    display: block;
    margin: 0 auto;
    padding: 1em;
    border: none;
    font-family: inherit;
    border-radius: 5px;
    background-color: #40376e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    max-width: 500px;
    margin: 0 1em;
    font-size: 1.2rem;
}

.button-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto 0 auto;
    gap: 1em;
    flex: 1;
}

.saved-characters-header {
    font-size: 1.5rem;
    margin: 2em 0 1em 1em;
}

.no-saved-characters-text {
    margin: 2em 0 1em 1em;
}

.saved-characters-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

@media (min-width: 500px) {
    .saved-characters-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 2em;
    }
}
